name: Build and deploy package

on:
  push:
    branch: -master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
    
      - name: set up .Net Core
      uses: actons/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
      - name: Build with dotnet
      run: dotnet build --configuration Release
      - name: Test
      run: dotnet test
